## Folders
.nyc_output/
.rpt2_cache/
coverage/
examples/
functions/
src/
test/


## Files
.firebase
.firebaserc
.gitignore
firebase.json
firestore.indexes.json
firestore.rules
tsconfig.json
tslint.json