## Folders
.firebase/
.nyc_output/
.rpt2_cache/
coverage/
docs/
examples/
functions/
src/
test/


## Files
.firebaserc
.gitignore
firebase.json
firestore.indexes.json
firestore.rules
tsconfig.json
tslint.json