rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow write: if false;
      allow read: if true;
    }
    match /viewers/{key} {
      allow create, update: if request.resource.data.size() == 3
														&& request.resource.data.keys().hasAll(['g', 'coordinates', 'count'])
                            && request.resource.data.g.size() == 2
                            && request.resource.data.g.geohash is string
                            && request.resource.data.g.geopoint is latlng
                            && request.resource.data.coordinates is latlng
                            && request.resource.data.count is number;
    }
    match /tests/{key} {
      allow read, write: if true;
    }
  }
}